@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Flic is the world's leading subscription service for watching TV episodes and movies.Watch TV shows and movies recommended just for you, including award-winning Netflix original series, movies and documentaries. Flic has something for everyone. There's even a dedicated watching experience just for kids with family-friendly entertainment. Try one month free. No commercials. No hidden fees. 
    Flic mobile application delivers the best experience anywhere, anytime. Get the free app as a part of your Flic membership and you can instantly watch thousands of TV episodes & movies on your phone.
</p>
<iframe width="420" height="315"
        src="https://www.youtube.com/embed/XGSy3_Czz8k?playlist=XGSy3_Czz8k&loop=1"></iframe>
