@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FLIC MOVIES</h1>
    <p class="lead">Flic is an entertainment company that specializes in and provides streaming media and video-on-demand online and DVD by mail.</p>
    <p><a href="http://0123movies.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>COMING SOON</h2>
        <img src="~/Content/Images/threesome.png" alt="New Movie" height="250" width="1140">
    </div>
</div>